@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
